p{
	line-height: 10px;
	word-spacing: 5px;
	letter-spacing: 2px;
	text-align: justify;
	text-decoration: underline;
}

p.hepsibuyuk{
	text-transform: uppercase;
}


p.hepsikucuk{
	text-transform: lowercase;
}

a{
	text-decoration: none;
	color: red;
}